@import '~styles/agGridTheme';

$height-control: 30px;

.ag-center-cols-clipper{
  min-height: 205px !important;
  overflow: auto;
  height: calc(100vh - 330px) !important;
  max-height: calc(100vh - 330px) !important;
}
.mb{
  margin-bottom: 12px;
}

.analogSettings {
  &__channel--header {
    text-align: center;
  }

  &__channel--cell {
    @extend .agUtils__text--bold;
    @extend .agUtils__text--white;
    @extend .agUtils__text--center;
  }

  &__tag--cell {
    @extend .tagCell;
  }

  .ag-theme-alpine &__unit--cell.ag-cell {
    @extend .agUtils__text--disabled;
    padding-top: calc-rem(6px);
    padding-left: calc-rem(6px);
  }

  &__iconButton--cell {
    @extend .tagCell;
    .text-center {
      display: flex;
      padding-right: calc-rem(14px);
    }
    .iconButton__container {
      position: absolute;
      right: 0;
    }
  }
}

.logging {
  margin-top: 50px;
  .cursor-pointer {
    cursor: pointer;
  }
}

.logging-grid-container {
  width: 882px;
}

.add-btn {
  font-size: 16px;
  background: transparent;
  border: none;
  padding: 0;
  .fu {
    padding: 8px;
  }
}

.text-ellipsis {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logging-title {
  font-size: calc-rem(12px);
  padding-bottom: 10px;
  margin-top: calc-rem(20px);
}

.dropdown--agGrid {
  &.dropdown {
    height: $height-control;
  }
  .dropdown {
    &__items {
      background: transparent;
      border: 1px solid transparent;
      box-shadow: none;
      height: $height-control + 1px;
      min-height: auto;
      padding: 0 6px;

      &--opened {
        border-color: $vox-blue;
      }
    }

    &__itemsLabel {
      font-size: 11.5px;
      padding-right: 4px;
    }

    &__listItem {
      font-size: 11.5px;
    }

    &__listItem {
      font-size: 12px;
    }

    &__list {
      top: $height-control + 2px;
    }

    &__itemsIcon {
      padding: 0;

      &--inverse {
        padding: 0;
      }
    }
  }
  &--up {
    .dropdown {
      &__list {
        top: auto;
        bottom: 100%;
      }
    }
  }
}

.ag-center-cols-viewport {
  overflow-y: visible;
  overflow-x: hidden;
  height: 100% !important;
}