@import '~styles/functions';
@import '~styles/palette';
@import '~styles/utils';

.timeLocationSettings {
  .buttonsContainer {
    position: unset;
    width: 100%;
    padding: unset;
    background-color: unset;
    border-right: unset;
    box-shadow: unset;
  }
}
