@import '~styles/palette';

.license-status{
    .actionButtons {
        display: flex;
        margin: 0 0 2rem 0;
    }

    .license-button {
        margin: 0 2rem 0 0;
    }


    .customTable__title {
        padding: 0;
    }

    .status-message{
        margin: 0 0 3rem 0 ;
    }

    .success{
        font-size: 1.25rem;
    }

    .error {
        font-size: 1.25rem;
        color: $red;
    }

    & .ag-cell {
        display: flex;
        align-items: center;
        padding-left: 8px;
    }
}